@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: linear-gradient(135deg, #F4F3F2, #F4F3F2);
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 12px;
}

.container,
.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.container {
    width: 650px;
    height: 500px;
}

.menu-container {
    width: 1500px;
}

/* Estilo da calculadora */
.container h1 {
    font-size: 24px;
    color: #2C3E00;
    margin-bottom: 20px;
}

.calculator label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.calculator input,
.calculator select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2C3E00;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #263900;
}

#result {
    margin-top: 10px;
    text-wrap: nowrap;
    visibility: hidden;
    text-align: center;
}

/* Estilo do cardápio */
.menu-container h2 {
    font-size: 22px;
    color: #2C3E00;
    margin-bottom: 10px;
}

#media-calorias {
    font-size: 16px;
    color: #fff;
    background: #800000;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.meal-section h3 {
    font-size: 18px;
    color: #2C3E00;
    margin-bottom: 10px;
    text-align: center;
}

.cabecalho {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.cabecalho button {
    padding: 5px px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #2C3E00;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100px;
}

#menu-title {
    margin: 0 50px;
}

.calculator button {
    padding: 5px px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #2C3E00;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #93aa59;
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
}

.food-options {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Permitindo scroll horizontal */
    scroll-behavior: smooth; /* Rolar suavemente */
    max-width: 100%; /* Ajustar à largura do container pai */
    padding: 10px 0; /* Espaço para visualização */
    max-width: calc((130px * 4) + (10px * 3));
}

/* Melhorando a barra de rolagem */
.food-options::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.food-options::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra */
    border-radius: 10px; /* Arredondamento */
}

.food-options::-webkit-scrollbar-track {
    background-color: #ddd; /* Fundo da barra */
}

/* Estilo dos itens */
.food-item {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    width: 130px;
    height: 150px;
    background: #DDDADA;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;

    min-width: 130px; /* Essencial para scroll horizontal */
    flex-shrink: 0; /* Evitar que os itens diminuam */
}

.food-item img {
    width: 100px;
    height: 60px;
    object-fit: cover; /* Ajusta o conteúdo da imagem */
  }
  
.food-item p:first-of-type {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.food-item p:last-of-type {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
}

.food-item div:first-of-type {
    text-align: center;
    width: 90px;
    height: 60px;
    border-radius: 5px;
}

.food-item div:last-of-type {
    border-radius: 5px;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 40px;
    text-align: center;
}

.container-calorias {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-calorias p {
    color: #2C3E00;
    font-weight: bold;
}