@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: linear-gradient(135deg, #F4F3F2, #F4F3F2);
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Duas colunas: calculadora e cardápio */
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    background: #ffffff00;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.container,
.menu-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

/* Estilo da calculadora */
.container h1 {
    font-size: 24px;
    color: #2C3E00;
    margin-bottom: 20px;
}

.calculator label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.calculator input,
.calculator select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2C3E00;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #263900;
}

/* Estilo do cardápio */
.menu-container h2 {
    font-size: 22px;
    color: #2C3E00;
    margin-bottom: 10px;
}

#media-calorias {
    font-size: 16px;
    color: #fff;
    background: #800000;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.meal-section h3 {
    font-size: 18px;
    color: #2C3E00;
    margin-bottom: 10px;
}

.food-options {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.food-item {
    background: #A9C47F;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    color: #2C3E00;
    font-size: 14px;
}

.meal-section p {
    font-size: 16px;
    color: #2C3E00;
    margin-top: 5px;
}